div{
    background-color: aqua;
 height: 60px;
 width: 2000px;

}
#us{

    height: 60;
    background-color: black;
    color: aliceblue;
    gap: 200px; text-align: center;
}
a{
margin-right:200px;
text-decoration:none;
}
button{
    background-color: yellow;
}